---
const { title, image, background } = Astro.props as {
  title: string;
  image: string;
  background: string;
};

const { href = "#" } = Astro.props as { href: string };
---

<div
  class="section-fullscreen-columns__border col-xl-4 col-lg-5 col-sm-6 col-12 mask-reveal"
  data-arts-horizontal-scroll="section"
  data-arts-os-animation="true"
  data-arts-os-animation-name="animateMask"
  data-arts-os-animation-params="{direction: 'down', scale: 1}"
>
  <div class="mask-reveal__layer mask-reveal__layer-1">
    <div class="mask-reveal__layer mask-reveal__layer-2">
      <div
        class="pt-medium pb-small container-fluid h-100 bg-dark-3"
        data-arts-theme-text="light"
        style=`background: ${background};`
      >
        <div
          class="figure-project d-flex justify-content-between flex-column w-100 h-100"
          data-arts-hover-class="hover-zoom-underline"
        >
          <a
            class="figure-project__wrapper-img h-100 mask-reveal js-arts-cursor-no-highlight"
            href={href}
            data-arts-hover="trigger"
            data-arts-cursor="true"
            data-arts-cursor-hide-native="true"
            data-arts-cursor-label="View Project"
            data-arts-cursor-scale="2.4"
            data-arts-cursor-color="#fff"
            data-arts-cursor-background-color="#ed4830"
          >
            <div class="hover-zoom__inner">
              <div class="mask-reveal__layer mask-reveal__layer-1">
                <div class="mask-reveal__layer mask-reveal__layer-2">
                  <img
                    class="of-cover lazy-bg"
                    src={href}
                    data-src={image}
                    width="1280"
                    height="1920"
                    alt=""
                  />
                </div>
              </div>
            </div></a
          >
          <div
            class="figure-project__content mt-4"
            data-arts-os-animation="true"
            data-arts-os-animation-name="animateText"
            data-arts-os-animation-params="{delay: 0.3}"
          >
            <div
              class="section-fullscreen-columns__subheading mb-2 figure-project__wrapper-meta arts-split-text js-arts-split-text"
              data-arts-split-text="lines,words"
              data-arts-split-text-set="words"
              data-arts-split-text-overflow-wrap="lines"
            >
            </div><a
              class="d-inline-block js-arts-cursor-no-highlight"
              href="015-portfolio-details-masthead-boxed-vertical.html"
              data-arts-hover="trigger"
              data-arts-cursor="true"
              data-arts-cursor-hide-native="true"
              data-arts-cursor-label="View Project"
              data-arts-cursor-scale="2.4"
              data-arts-cursor-color="#fff"
              data-arts-cursor-background-color="#ed4830"
            >
              <h2
                class="section-fullscreen-columns__heading h3 my-0 js-arts-split-text arts-split-text underline-hover__target"
                data-arts-split-text="lines"
                data-arts-split-text-set="lines"
                data-arts-split-text-overflow-wrap="lines"
              >
                {title}
              </h2></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
