---
import clsx from "clsx";

const navLinks = [
  {
    title: "Our Journey",
    href: "/journey",
  },
  { title: "Tattoos", href: "/tattoos" },
  { title: "Piercings", href: "/piercings" },
  { title: "Art Gallery", href: "/art-gallery" },
  { title: "Tattoo Sketches", href: "/sketches" },
  { title: "Pricings", href: "/pricing" },
  { title: "Contact", href: "/contact-us" },
];

const { containerStyles = "", classes = "" } = Astro.props;
---

<style>
  .rts-header-area-two {
    z-index: 1000;
  }

  .nav-logo {
    display: block;
    height: 48px !important;
    width: auto;
  }

  .nav-logo img {
    height: 100%;
    width: 100%;
  }
</style>

<div
  class={clsx("rts-header-area-two header--sticky", classes)}
  style={containerStyles}
>
  <div class="container-150">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-header-two">
          <div class="header-left-area">
            <div class="logo-area">
              <a href="/" class="loog nav-logo">
                <img src="/assets/dees-art-studio.png" alt="Brand__logo" />
              </a>
            </div>
          </div>
          <div class="header-nav-area">
            <nav class="nav-area drop-down-rts">
              <ul class="navbar-nav-1">
                {
                  navLinks.map((item) => (
                    <li class="menu-item main-nav-on">
                      <a class="menu-link" href={item.href}>
                        <span class="rolling-text">{item.title}</span>
                      </a>
                    </li>
                  ))
                }
              </ul>
            </nav>
          </div>
          <div class="header-right">
            <div class="menu-btn">
              <div class="rts-offcanvas-wrapper">
                <div class="container-menu">
                  <div class="action-menu">
                    <div class="close-event"></div>
                    <div class="open-event">
                      <div class="burger">
                        <svg
                          viewBox="0 0 15 15"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon-close"
                          data-v-649bbaab=""
                        >
                          <line
                            x1="13.788"
                            y1="1.28816"
                            x2="1.06011"
                            y2="14.0161"
                            stroke="currentColor"
                            stroke-width="1.2"></line>
                          <line
                            x1="1.06049"
                            y1="1.43963"
                            x2="13.7884"
                            y2="14.1675"
                            stroke="currentColor"
                            stroke-width="1.2"></line>
                        </svg>
                        <svg
                          viewBox="0 0 18 12"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon-burger"
                          data-v-649bbaab=""
                        >
                          <line
                            x1="18"
                            y1="0.6"
                            y2="0.6"
                            stroke="currentColor"
                            stroke-width="1.2"
                            data-v-649bbaab=""></line>
                          <line
                            x1="18"
                            y1="5.7167"
                            y2="5.7167"
                            stroke="currentColor"
                            stroke-width="1.2"
                            data-v-649bbaab=""></line>
                          <line
                            x1="18"
                            y1="10.8334"
                            y2="10.8334"
                            stroke="currentColor"
                            stroke-width="1.2"
                            data-v-649bbaab=""></line>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rts-fs-menu">
                  <div class="rts-fs-container row">
                    <div class="rts-fs--nav col-12 col-md-6">
                      <ul id="primary-menu" class="navbar-nav-button">
                        {
                          navLinks.map((item) => (
                            <li class="menu-item">
                              <a href={item.href}>{item.title}</a>
                            </li>
                          ))
                        }
                      </ul>
                    </div>

                    <div class="rts-fs--contacts col-12 col-md-6">
                      <div class="contact-inner">
                        <div class="contact-information">
                          <h2 class="heading-title">Our Office</h2>
                          <div class="address">
                            <ul>
                              <li>
                                <p>98 Post St, Maxuel Street, Frankfurt</p>
                              </li>
                              <li>
                                <p>575 Market St, Maxuel Street, Frankfurt</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="contact-information">
                          <h2 class="heading-title">Get In Touch</h2>
                          <div class="contact">
                            <ul>
                              <li>
                                <a
                                  href="mailto:information.mighty.com"
                                  class="mail">information.mighty.com</a
                                >
                              </li>
                              <li>
                                <a href="tel:28586235932159" class="number"
                                  >+2858 62359 32159</a
                                >
                              </li>
                            </ul>
                          </div>
                          <div class="rts-social-area-one">
                            <ul>
                              <li>
                                <a href="#"
                                  ><i class="fa-brands fa-facebook-f"></i></a
                                >
                              </li>
                              <li>
                                <a href="#"
                                  ><i class="fa-brands fa-twitter"></i></a
                                >
                              </li>
                              <li>
                                <a href="#"
                                  ><i class="fa-brands fa-whatsapp"></i></a
                                >
                              </li>
                              <li>
                                <a href="#"
                                  ><i class="fa-brands fa-skype"></i></a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
